body {
    background-image: url("images/jungle.jpg");
}

.title, body > h1, body > div, .navigation {
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 255, 255) 15%, rgb(241, 241, 221) 50%,rgb(255, 255, 255) 85%);
    position: sticky;
    top: 0px;

}

.title img {
    margin: 10px;
}

.title h1 {
    color: #7b4606;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation > ul li {
    text-align: center;

    flex: 1;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(241, 241, 221));
    line-height: 40px;
}

.navigation > ul li a {
    color: #F5F5F7;

    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

.navigation > ul li:hover {
    background-image: linear-gradient(to left, rgba(255,153,153,0) 15%, rgba(237, 255, 159, 0.095) 50%,rgba(255,153,153,0) 85%);

}

body article h1, body > h1 {
    text-align: center;
    background-image: linear-gradient(to left, rgba(255,153,153,0) 15%, rgb(255, 255, 255) 50%,rgba(255,153,153,0) 85%);

    color: #7b4606;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
}

.section {
    width: 50%;
    justify-content: center;
}

footer span {
    color: #F5F5F7;
    display: table;
    margin: 0 auto;
}
